dist/
.DS_Store
.idea/
logs/
project/boot/
project/plugins/project
lib_managed
src_managed
*.swp
*.swo
*.sublime-project
*.sublime-workspace
*.pyc
src/scripts/hosts.py
*.*~
.scala_dependencies
target/
tapp.iml
